[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-talisman = "*"
flask-cors = "*"
flask-login = "*"
pydantic = "*"
pytest-factoryboy = "*"
webcolors = "*"
us = "*"
flask-wtf = "*"
python-dotenv = "*"
email-validator = "*"

[dev-packages]
black = "*"
pre-commit = "*"
pytest = "*"
flake8 = "*"
isort = "*"

[requires]
python_version = "3.9"
python_full_version = "3.9.6"
