[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
email-validator = "*"
flask = "*"
flask-cors = "*"
flask-login = "*"
flask-sqlalchemy = "*"
flask-talisman = "*"
gunicorn = "*"
psycopg2 = "*"
pydantic = "*"
pytest-factoryboy = "*"
python-dotenv = "*"
us = "*"
webcolors = "*"
flask-wtf = "*"
itsdangerous = "*"
werkzeug = "*"

[dev-packages]
black = "*"
flake8 = "*"
isort = "*"
pre-commit = "*"
pytest = "*"

[requires]
python_full_version = "3.9.6"
python_version = "3.9"
